black
beautifulsoup4
dlt
dlt[bigquery]
flake8
google-auth
google-cloud-bigquery-storage
gspread
ipython
isort
jupyterlab
matplotlib
numpy
pandas
pre-commit
prefect==2.20.8
psycopg2
pyarrow
requests
seaborn
streamlit
SQLAlchemy
wikiextractor